asgiref==3.8.1
Django==5.1.4
nulltype==2.3.1
plaid-python==28.0.0
psycopg==3.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
setuptools==75.6.0
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.2.3
wheel==0.45.1
